#indra-form-sent-filter-form .container-inline-date {
  float: left;
  clear: none;
  padding-top: 9px;
}

#indra-form-sent-filter-form .form-item {
  float: left;
  margin-right: 10px;
}

#indra-form-sent-filter-form .form-item .form-item-date-from-date, #indra-form-sent-filter-form .form-item .form-item-date-to-date {
  padding: 0;
}

#indra-form-sent-filter-form form-item-date-from {
  padding-top: 4px;
}

#indra-form-sent-filter-form #edit-subject,
#indra-form-sent-filter-form #edit-identifier,
#indra-form-sent-filter-form #edit-mailto {
  max-width: 230px;
}

#indra-form-sent-filter-form #edit-replyto {
  max-width: 220px;
}

#indra-form-sent-filter-form .form-item-date-from-date label,
#indra-form-sent-filter-form .form-item-date-to-date label {
  display: none
}

#indra-form-sent-filter-form .action_botton {
  margin: 25px 25px 30px 0px;
}
